theme = "Onedarker"

[editor]
line-number = "relative"
mouse = false
end-of-line-diagnostics = "hint"

[editor.soft-wrap]
enable = true

[editor.file-picker]
hidden = false

[editor.auto-save]
focus-lost = true

[editor.indent-guides]
render = true

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.lsp]
display-progress-messages = true
display-inlay-hints = true

[keys.normal.g]
o = ":sh gh browse %{buffer_name}:%{cursor_line}" # Goto line in browser on Github.com
